mixin breadcrumbs(list)
    nav.mt-4(aria-label="breadcrumb")
        ol.breadcrumb
            li.breadcrumb-item
                a.breadcrumb-link(href="/")
                    img(src="/public/icons/home.svg", alt="Home", style="width:1em;height:1em")

            each item in list
                if item.url === ''
                    li.breadcrumb-item(class= {active: item.active})= item.title
                else
                    li.breadcrumb-item(class= {active: item.active})
                        a(href= item.url)= item.title
