<!doctype html>
<html lang="ru">

<% var page = {
    title: 'Главная страница сайта Blog Crypto Info',
    description: 'TT',
    keywords: '',
    type: 'website',
    url: '',
    image: '/public/images/test.jpg',
    htmlWebpackPlugin: htmlWebpackPlugin
}; %>

<% var header = {
    category: ''
}; %>

<%= _.template(require('html-loader!../components/head.html'))(page) %>
<body class="page">

<div class="wrapper">
    <%= _.template(require('html-loader!../components/header.html'))(header) %>

    <main class="main">
        <div class="container">

            <section class="mb-4">
                <h1 class="mb-4 mt-5 display-6">Категории</h1>
                <%= require('html-loader!../components/categoryPreview.html') %>
            </section>

            <section class="mb-5">
                <h2 class="mb-4 display-6">Курс криптовалют</h2>
                <div id="market" class="table-nowrap table-responsive-xl"></div>
            </section>

<!--                <section>-->
<!--                    <h2 class="mb-4 display-6">Популярные статьи</h2>-->
<!--                    <div class="row">-->
<!--                        <div class="col-sm-6 col-lg-4 col-xl-3 mb-4" style="display: flex">-->
<!--                            <a href="kak-kupit-bitcoin.html" class="card">-->
<!--                                <img src="public/images/test.jpg" class="card-img-top" alt="..." style="object-fit: cover; height: 200px">-->
<!--                                <div class="card-body">-->
<!--                                    <h5 class="card-title">Как купить биткоин и любую другую криптовалюту?</h5>-->
<!--                                </div>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div class="col-sm-6 col-lg-4 col-xl-3 mb-4" style="display: flex">-->
<!--                            <a href="#" class="card">-->
<!--                                <img src="public/images/test2.jpg" class="card-img-top" alt="..." style="object-fit: cover; height: 200px">-->
<!--                                <div class="card-body">-->
<!--                                    <h5 class="card-title">Как купить биткоин?</h5>-->
<!--                                </div>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </section>-->

        </div>
    </main>

    <%= require('html-loader!../components/footer.html') %>

</div>
