extends ../pug/layouts/default

block page-vars
    -
        var meta = {
            title: 'Главная – ' + PROJECT_NAME,
            description: 'TT',
            keywords: '',
            type: 'website',
            url: '',
            image: '/public/images/test.jpg'
        }
        var currentUrl = ''

block main
    .container
        section.mb-4
            h1.mb-4.mt-5.display-6 Популярные статьи
            .row
                .col-sm-6.col-lg-4.col-xl-3.mb-4(style="display: flex")
                    +card('Как купить биткоин?', 'kak-kupit-bitkoin-content.html', 'public/images/test2.jpg', '')

                .col-sm-6.col-lg-4.col-xl-3.mb-4(style="display: flex")
                    +card('Как купить биткоин?', 'kak-kupit-bitkoin-content.html', 'public/images/test2.jpg', '')


        section.mb-5
            h2.mb-4.display-6 Курс криптовалют
            .market.table-nowrap.table-responsive-xl.js-market(data-per-page="10", data-currency="usd", data-decimal="2")
            .mt-4
                a.btn.btn-primary.btn-lg.active(href="/market.html", role="button", aria-pressed="true") Смотреть все

        section
            h2.mb-4.display-6 Последние статьи
            .row
                .col-sm-6.col-lg-4.col-xl-3.mb-4(style="display: flex")
                    +card('Как купить биткоин?', 'kak-kupit-bitkoin-content.html', 'public/images/test2.jpg', '')

                .col-sm-6.col-lg-4.col-xl-3.mb-4(style="display: flex")
                    +card('Как купить биткоин?', 'kak-kupit-bitkoin-content.html', 'public/images/test2.jpg', '')
