<div class="row">
<!--    <div class="col-md-6 col-xxl-3 mb-4" style="display: flex">-->
<!--        <a href="/category-news.html" class="card card-overlay">-->
<!--            <img src="/public/images/test.jpg" class="card-img" alt="..." style="object-fit: cover; height: 200px">-->
<!--            <div class="card-img-overlay">-->
<!--                <h2 class="card-title">Новости</h2>-->
<!--                <p class="card-text">Главные новости криптоиндустрии</p>-->
<!--            </div>-->
<!--        </a>-->
<!--    </div>-->
    <div class="col-md-6 col-xxl-3 mb-4" style="display: flex">
        <a href="/category-articles.html" class="card card-overlay">
            <img src="/public/images/test2.jpg" class="card-img" alt="..." style="object-fit: cover; height: 200px">
            <div class="card-img-overlay">
                <h2 class="card-title">Статьи</h2>
                <p class="card-text">Обзоры монет и криптовалютных бирж</p>
            </div>
        </a>
    </div>
<!--    <div class="col-md-6 col-xxl-3 mb-4" style="display: flex">-->
<!--        <a href="/category-guides.html" class="card card-overlay">-->
<!--            <img src="/public/images/test2.jpg" class="card-img" alt="..." style="object-fit: cover; height: 200px">-->
<!--            <div class="card-img-overlay">-->
<!--                <h2 class="card-title">Руководства</h2>-->
<!--                <p class="card-text">Разбор инструментов и подробные инструкции по работе с криптовалютой</p>-->
<!--            </div>-->
<!--        </a>-->
<!--    </div>-->
<!--    <div class="col-md-6 col-xxl-3 mb-4" style="display: flex">-->
<!--        <a href="/category-blockchain.html" class="card card-overlay">-->
<!--            <img src="/public/images/test2.jpg" class="card-img" alt="..." style="object-fit: cover; height: 200px">-->
<!--            <div class="card-img-overlay">-->
<!--                <h2 class="card-title">Блокчейн</h2>-->
<!--                <p class="card-text">Все что нужно хнать о технологии блокчейн</p>-->
<!--            </div>-->
<!--        </a>-->
<!--    </div>-->
</div>
