<div>
    <h2>Покупка криптовалюты</h2>
    <ul>
        <li>Что нужно для покупки криптовалюты?</li>
        <li>Самый простой способ купить криптовалюту</li>
    </ul>
    <p>Существует много различных способов купить криптовалюту и все они в основном сводятся к двум пунктам:</p>
    <ol>
        <li>Наличие номера счета (криптовалютного адреса) для возможности совершения транзакций</li>
        <li>Наличие того кто готов обменять вашу валюту на необходимую криптовалюту</li>
    </ol>
    <p>Самый простой способ купить биткоин на криптовалютной бирже, т.к после регистрации биржа сама создаст адреса для всех популярных криптовалют, в том числе и для биткоина.</p>
    <h4>Список наиболее известных криптовалютных бирж:</h4>
    <ul>
        <li><a href="link">Binance</a></li>
        <li><a href="link">Kraken</a></li>
        <li><a href="link">Huobi</a></li>
        <li><a href="link">HitBTC</a></li>
    </ul>
    <blockquote>
        <p>Как купить криптовалюту с помощью кредитной карты на бирже Binance, вы можете прочитать в подробном руководстве.</p>
    </blockquote>
    <h2>Криптовалютный адрес</h2>
    <ul>
        <li>Криптовалютный кошелек</li>
        <li>Генерация адресов</li>
    </ul>
    <p><img src="/public/images/test.jpg" alt="one-punch-man-saitama.jpg"></p>
    <p>Для покупки криптовалюты необходим адрес. Его можно создать с помощью криптовалютного кошелька. Адрес представляет из себя текст, состоящий из хаотичного набора заглавных и строчных букв латинского алфавита и цифр.</p>
    <p>Криптовалютный адрес генерируется внутри сети блокчейна. Кошелёк выступает в роли посредника предоставляя вам удобный интерфейс. Можно завести неограниченное количество адресов.</p>
    <blockquote>
        <p>Важное примечание: У каждой криптовалюты генерируются адреса актуальные только внутри своей сети. Например: Невозможно перевести Bitcoin на Bitcoin Cash или наоборот, т.к это разные блокчейн сети.</p>
    </blockquote>
    <h2>Покупка криптовалюты</h2>
    <p>Способы покупки криптовалюты</p>
    <p>Покупка через обменник</p>
    <p>Покупка на бирже</p>
    <p>Покупка у другого человека</p>
    <p>Купить криптовалюту можно несколькими способами:</p>
    <ul>
        <li>Через обменник</li>
        <li>На бирже</li>
        <li>Лично у продавца</li>
    </ul>
    <p>Покупка через обменник самый распространённый способ купить криптовалюту в обмен на валюту своей страны. Данный способ позволяет найти выгодный курс обмена, но имеет несколько отрицательных моментов:</p>
    <ul>
        <li>Есть вероятность кражи средств, т.к нет регулятора со стороны гос. органов над действиями криптовалютных обменников</li>
        <li>Перед совершением сделки необходимо обращать внимание на отзывы</li>
        <li>Не рекомендуется переводить сразу большую сумму, лучше разбить на несколько</li>
        <li>Есть вероятность блокировки средств непосредственно банком, если оплата производится с карты</li>
        <li>Банк может запросить предоставления документов подтверждающих законность сделки</li>
    </ul>
    <p>Покупка на бирже надежнее покупки в обменнике, но тоже не обделена недостатками:</p>
    <ul>
        <li>Не все биржи предоставляют возможность расплатиться банковской картой с валютой вашей страны</li>
        <li>Для покупки через банковскую карту зачастую требуется проходить процедуру верификации личности</li>
    </ul>
    <p>Покупка у частного лица зачаст имеет смысл в двух случаях:</p>
    <ul>
        <li>Вы непосредственно знакомы с продавцом и доверяете ему в рамках совершения сделки</li>
        <li>Вы покупаете большое количество и ваша сделка исчисляется суммами с шестью и более нулями</li>
    </ul>
    <h2>Подводя итоги</h2>
    <p>Проще и надежнее всего, купить криптовалюту на криптовалютной бирже.</p>
    <p>Если объем криптовалюты небольшой и вы не планируете использовать ее в качестве инвестиционного инструмента, можно воспользоваться онлайн или мобильным кошельком.</p>
    <p>В случае наличия большого количества криптовалюты и желания ее хранения длительный срок рекомендуется воспользоваться холодным кошельком таким как Bitcoincore или задуматься о покупке устройства типа Ledger</p>
</div>
